<div class="meeting-container">
  <h1>Create your meeting</h1>
  <%= simple_form_for(@meeting, @city) do |f| %>
  <%= f.input :meeting_date, as: :date, order: [:day, :month, :year] %>
  <%= f.input :meeting_time, as: :date, order: [:day, :month, :year] %>
  <%= f.fields_for :cities do |city| %>
       <%= city.text_field :name %>
       <% end %>
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>
</div>
